.baikal {
  position: relative;
  min-height: 740px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../../images/trains.png") no-repeat center / cover;
}

.baikal::after {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: opacity 1s;
}

.baikal:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .baikal {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .baikal {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .baikal {
    min-height: 200px;
  }
}
