.baikal__container {
  display: flex;
}

.baikal__container::after {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: opacity 1s;
}

.baikal__container:hover::after {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .baikal__container::after {
    left: 0;
    width: 100%;
  }
}
