.baikal__link {
  position: absolute;
  color: inherit;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 100%;
}
