.place__item {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 48px 32px;
}

.place__item:not(:last-child) {
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .place__item {
    display: flex;
    gap: 0;
    align-self: center;
    flex-direction: column;
  }

  .place__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
